.raleway{
  font-family: 'Raleway', 'sans-serif';
}
.bg-img{
  background-image: url(../images/banner2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}

.roboto{
  font-family: "Roboto", sans-serif;
}

